<ul class="navbar-nav mx-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'tour_dashboard' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Places</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Hotels</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
</ul>